.contact-form{
	position: relative;
	z-index: 999;
	text-align: center;
	.container{
		padding: 5rem 2rem 4rem;
	}
	p{
	  color: #575757;
	  font-size: 1.8rem;
	  line-height: 3.5rem;
	}
	.p-strong{
		font-family: $font-bold;
		color:#000;
	}
	form{
		padding-top: 3rem;
		max-width: 96.2rem;
		width: 100%;
		margin: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: baseline;
		    -ms-flex-align: baseline;
		        align-items: baseline;
		textarea,
		input[type=submit],
		input[type=text],
		input[type=email]{
		      -webkit-appearance: none;
		    	-moz-appearance: none;
		    		appearance: none;
		     border-radius: 0;
		     border: none;
		}

		select::-ms-expand{
		    display: none;
		}
		textarea{
			resize:none;
			overflow: auto;
		}
		.form-group{
			text-align: left;
			label{
				display: block;
				font: 1.8rem $font-bold;
				padding-bottom: 1rem;
				span{
					font-family: $font1;
				}
			}
			input,
			textarea{
				border-radius: 0.5rem;
	     		border: 0.1rem solid #b2d2e0;
	     		background: transparent;
	     		padding-left: 1rem;
			}
			input{
				width: 100%;
				height: 4.5rem;
			}
			textarea{
				width: 100%;
				height: 13.5rem;
				padding-top: 1rem;
			}
		}

		.form-group50{
			-webkit-box-flex: 1;
			    -ms-flex: 1 34%;
			        flex: 1 34%;
			padding-bottom: 3rem;
			&:nth-child(2){
				padding-left: 1rem;
			}
		}
		.form-group100{
			-webkit-box-flex: 1;
			    -ms-flex: 1 100%;
			        flex: 1 100%;
		}
		input[type=submit]{
			-webkit-box-flex: 1;
			    -ms-flex: 1 100%;
			        flex: 1 100%;
			max-width: 30.6rem;
			@include button;
			font-size: 1.7rem;
			margin-top: 3.5rem;
			&:hover{
				background: #0064b4;
			}
		}
	}
}

@media screen and (max-width: 576px){
.contact-form form .form-group50{
	-webkit-box-flex: 1;
	    -ms-flex: 1 100%;
	        flex: 1 100%;
	&:nth-child(2){
		padding-left: 0;
	}
}
}