footer{
	.container{
		padding: 10rem 3rem 4rem;
		text-align: center;
	}
	.menu-bottom{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding: 2.5rem 0;
		a{
			font-size: 1.4rem;
			color: #3a88d4;
			display: block;
			padding: 0.5rem 1.5rem;
			white-space: nowrap;
			&:hover{
				color:#ffae00;
			}
		}
	}
	p{
		font-size: 14px;
		color: #727272;
		padding-bottom: 0.9rem;
	}
}