.page-title{
	background: url(../img/page-bg.jpg) center no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	border-top: 0.65rem solid #1283b3;
	.container{
		padding: 4.5rem 2rem;
	}
}